{% extends "base.html" %}

{% block content %}
    <h1>Корзина</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена</th>
            <th scope="col">Сумма</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for c in cart %}
            <tr>
                <td>{{ c.product.title }}</td>
                <td>{{ c.qty }}</td>
                <td>{{ c.product.price }}</td>
                <td>{{ c.get_product_total }}</td>
                <td><a href="{% url "webapp:cart_delete_one_view" c.pk %}">Удалить</a></td>
                <td><a href="{% url "webapp:cart_delete_view" c.pk %}">Удалить все</a></td>
            </tr>

        {% empty %}
            <tr>
                <td><h3>Корзина пуста</h3></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h5>Общая цена: {{ total }}</h5>

    <form class="row g-3" action="{% url "webapp:order_create_view" %}" method="post">
        {% include "partials/form.html" with button_txt="Заказать" %}
    </form>

{% endblock content %}